body {
    background-color: black;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size:100px;
}

.big {
    font-size: 100px;
    font-family: monospace;
    font-weight: 100;
}

#red {
    color: coral;
}

#green {
    color: aquamarine;
}

#yellow {
    color: gold;
}

a {
    color: lightpink;
    font-size: 30px;
}

a:hover {
    color: deeppink;
    font-size: 40px;
}

#title {
    text-align: center;
}

#content {
    width: 70%;
    position: relative;
    left: 15%;
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}

.two-columns:after {
    content: "";
    display: table;
    clear: both;
}

#img{
    width:90%
}

#footer{
    text-align: center;
    font-size: 9px;
}
#one-column{
    text-align:center;
}

canvas {
    width: 100% !important;
    height: 100% !important;
  }
  