body{
    margin: 0px;
    background-color:#fff;
    color:#000;
    font-family: 'Roboto', sans-serif;
}
.box{
    /* width: 100px; */
    padding: 40px; 
    margin: 5px;
    /* display: inline-block; */
}
.box-1{
    background-color: rgb(250,136,193);
}
.box-2{
    background-color: rgb(233,250,136);
}
.box-3{
    background-color: rgb(29,233,233);
}
.big{
    width:100%;
    padding:10%;
    height:30px;
    background-color: darkgrey;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    width: 900px;
    /* margin: auto; */
    flex-wrap: wrap;
    margin: 5% 0;
}